# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.env

# Diagnostic & Unwanted Files 
unwanted_files/
*.txt
*.log

# Git
.git
.gitignore

# Docker & CI
.dockerignore
docker-compose.yml
.pytest_cache/
tests/

# Documentation
README.md
CHANGELOG-v2.1.md
examples.json
